<div class="questions">
  <h2>Edit Question</h2>

  <div class="row">
    <div class="col-md-4">
      <p>Guidelines for questions</p>
      <ul>
        <li>Ask about one phrase.</li>
        <li>Add some context if you think you need to.</li>
        <li>There is no stupid question!</li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= render partial: 'form', locals: { topic: @question.topic, question: @question } %>
    </div>
  </div>
</div>
