<div class="welcome">
  <h1>About</h1>

  <h4>Konnichiwa is a free educational social media application, created by me - Emiko Dodson. I am from Japan and enjoy helping anyone studying Japanese.
  I wanted to create a fun and safe space for anyone who is interested in, or studying Japanese language / culture to get connected with Japanese users, and get help from them.
  There is no question too small to ask here. Don't be shy and ask away!</h4>
</div>
