<div class="welcome">
  <h1>Konnichiwa!</h1>
  <h4>Learning a foreign language means more than just adding some new knowledge. You will learn a new culture. You will meet new people. The way you look at the world will change.
  <%= link_to "Join us", new_user_registration_path %> and start your journey today.</h4>
</div>
